.btn {
  --tw-bg-opacity: 1;
  background-color: rgba(37, 99, 235, var(--tw-bg-opacity));
  border-radius: 0.75rem;
  font-weight: 500;
  margin-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(30, 64, 175, var(--tw-bg-opacity));
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.btn:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width)
    var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(37, 99, 235, var(--tw-ring-opacity));
  --tw-ring-opacity: 0.5;
}
.overlayDialog {
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
  --tw-bg-opacity: 0.5;
  height: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s;
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active in <2.1.8 */

 {
  opacity: 0;
}
@keyframes transitionIn {
  from {
    transform: translateY(-100px);
  }

  to {
    transform: translateY(0);
  }
}
.form-change__pasword {
  width: 50vw;
  height: 450px;
  max-height: 100%;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  margin: 0 auto;
  animation: transitionIn 0.5s;
}
.form-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 100px;
}
.form-info__item {
  color: grey;
}
.form-info__title {
  font-size: 34px;
  font-weight: 400;
  margin-bottom: 20px;
}
.form-info__sub,
.form-info__item {
  font-size: 18px;
  margin-bottom: 10px;
}
.form-info__item {
  display: flex;
  align-items: center;
}
.icon {
  margin-right: 5px;
}
.form-input__item {
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 0 10px;
  height: 50px;
  border-radius: 5px;
  width: 85%;
}
.form-action {
  margin-top: 20px;
}
.form-action__save,
.form-action__remove {
  padding: 10px 20px;
  color: white;
  outline: none;
  border-radius: 10px;
}
.form-action__save {
  background-color: rgb(16, 37, 158);
  margin-right: 20px;
  cursor: pointer;
}
.form-action__remove {
  background-color: #ccc;
}
.form-info__item.valid {
  color: rgb(16, 37, 158);
}
.form-info__item.unvalid {
  color: red;
}
.form-input__list {
  position: relative;
  width: 100%;
  margin: 0;
}
.form-input__icon {
  position: absolute;
  top: 50%;
  right: 45%;
  transform: translate(50%, -50%);
}
.error__oldPass {
  display: block;
  padding: 6px 0 8px;
  color: red;
  font-size: 12px;
}
